{% extends 'workspace/index.html' %}
{% load static %}

{% block ExtraCss %}

    <link rel="stylesheet" href="{% static 'css/content.css' %}">
{% endblock ExtraCss %}

{% block content %}

<div class="container">
    {% comment %} add post modal {% endcomment %}
    <div class="modal" tabindex="-1" id="addpostmodal">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Add New Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="add_post_form" action="{% url 'workspace:AddPost' %}" method="POST" enctype='multipart/form-data' required> {% csrf_token %}
                <div class="mb-3">
                    <label for="name_input" class="form-label">Title</label>
                    <input name="name" type="text" class="form-control" id="name_input" required>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Image</label>
                    <input name="image" class="form-control" type="file" id="formFile">
                </div>

                <div class="mb-3">
                    <label for="text_area_input" class="form-label">Description</label>
                    <textarea id="id_description" name="description" class="form-control" placeholder="Write your post here" id="text_area_input" required></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="category_input" class="form-label">Category</label>
                    <select name="category" class="form-select" aria-label="Category" id="category_input" required>
                        {% for category in categories %}
                            <option value="{{category.id}}" {% if category.id == current_cat_id %}selected{% endif %}>{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="social_input" class="form-label">Social Accounts</label>
                    <select name="type" class="form-select" aria-label="Category" id="social_input" multiple required>
                        {% for social in socials %}
                            <option value="{{social.id}}" {% if forloop.counter == 1 %}selected{% endif %}>{{social.name}} ({{social.backend}})</option>
                        {% endfor %}
                    </select>
                    <div id="selectHelp" class="form-text">Pless CTRL to select more.</div>
                </div>

                <input type="hidden" id="user" name="user" value="{{request.user.id}}">
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submit_add_post_form();">Save post</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    {% comment %} delete post modal {% endcomment %}
    <div class="modal fade" id="deletePostModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <form id="delete_post_form" action="{% url 'workspace:DeletePost' %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="post_id" id="post_id_field" value="">
                </form>
                <button type="submit" onclick="submit_delete_modal_form();" class="btn btn-sm btn-danger" name="post_id" value="">Delete</button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
  
    
    <div class="top">
        <div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addpostmodal">
                Add post to this category
            </button>
        </div>
    </div>

    <div class="content">
        <h1 class="text-center heading">All Posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{post.name}}</h5>
                        <p class="card-text">{{post.description|safe}}</p>
                        {% if post.type.all %}
                            <ul>
                                {% for social in post.type.all %}
                                    <li>{{social.name}} ({{social.backend}})</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="footer-button">
                            <button class="btn"><i class="fas fa-edit"></i></button>
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#deletePostModal" data-bs-postid="{{post.id}}" data-bs-posttitle="{{post.name}}"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                {% comment %} {% if not forloop.last %}
                    <hr>
                {% endif %} {% endcomment %}
            {% endfor %}
        {% else %}
            <h3 class="text-center">No posts availabe</h3>
        {% endif %}
    </div>
</div>



{% endblock content %}

{% block ExtraJs %}
    <script>
        let deletePostModal = document.getElementById('deletePostModal')
        deletePostModal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget
            let post_id = button.getAttribute('data-bs-postid')
            let post_title = button.getAttribute('data-bs-posttitle')
            let modalTitle = deletePostModal.querySelector('.modal-title')
            let modalBody = deletePostModal.querySelector('.modal-body')
            let submitBtn = deletePostModal.querySelector('#submit')
            let post_id_field = deletePostModal.querySelector('#post_id_field')
            modalTitle.textContent = `Delete: Object ${post_id}`
            modalBody.innerHTML = `<p><b>${post_title}</b></p><p>Are you sure you want to delete this post?<br>This cannot be undone.</p>`
            post_id_field.value = post_id
        });
    </script>
  
    <script>
        function submit_add_post_form() {
            const add_post_form = document.getElementById('add_post_form')
            add_post_form.submit()
        }

        function submit_delete_modal_form() {
            const delete_post_form = document.getElementById('delete_post_form')
            delete_post_form.submit()
        }
    </script>

    
    <script src="{% static 'vendor/ckeditor5/build/ckeditor.js' %}"></script>
    
    <script>
        ClassicEditor
          .create(document.querySelector('#id_description'), {
            licenseKey: '',
          })
          .then(editor => {
            window.editor = editor
          })
          .catch(error => {
            console.error( 'Oops, something went wrong!' );
            console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
            console.warn( 'Build id: xgymkl7hu13d-x3tqyb9rnzh' );
            console.error( error );
          } );
    </script>
    
{% endblock ExtraJs %}
